* {
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
}

/* nav style */

span img {
    width: 150px;
    height: 100px;
}

header {
    background-color: #ced4da;
}

#nav {
    margin-left: 50px;
}

#nav ul {
    list-style: none;
}

#nav li {
    float: right;
    font-size: 30px;
    margin-left: 25px;
    margin-right: 20px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

#nav a {
    color: rgb(0, 0, 0);
}

/* main page photo and header styiling */

.section-one {
    text-align: center;
    display: inline;
}

.section-one img {
    width: 50%;
}

.section-one h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    float: right;
    width: 50%;
    margin-top: 25%;
    font-family: "Roboto", sans-serif;
}



/* foter style */

footer {
    background-color: #ced4da;
    padding: 25px;
}

.footer-header {
    text-align: center;
    padding-bottom: 25px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    margin: 1%;
    padding: 2%;
    font-size: 30px;
}

.social-links a {
    color: black;
}

.info-table {
    display: inline;
}